:root {
  --linkblue: #266fff;
}

body {
  margin: 0;
  overflow: hidden;
  z-index: -10;
  font-family: 'Montserrat', sans-serif;

}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
  display: inline;
}

/* Google Icons style */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Document wide classes */
.btn {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: #0070cc;
  border-radius: 1rem;
  border-width: 0;
  color: white;
  transition: outline 0.05s;
}

.btn:hover {
  outline: 2px solid #0070cc;
  outline-offset: 2px;
}

.btn[name="buy-now"]:hover {
  outline: 2px solid #d53b00;
  ;
}

::placeholder {
  color: black;
}

.test-img {
  width: 100%;
}

/* Sony  */
.sony-bar {
  background-color: black;
  width: 100%;
  height: 2.25rem;
  text-align: right;
  z-index: 5;
  position: relative;
}

.sony-logo img {
  position: absolute;
  filter: invert(1);
  width: 4.5vw;
  top: -1.2vw;
  right: 0.6vw;
}

nav {
  position: sticky;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: white;
  z-index: 3;
  top: 0;
}

.logo {
  transition: all 0.7s;
  font-size: 1rem;
  margin-left: 2vw;
  width: 3vw;
  text-align: center;
}

.logo img {
  width: 3vw;
  transition: all 0.5s ease;
}

.logo-active img {
  transform: translateY(-7px);
  width: 2vw;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 1rem;
  padding-left: 0;
}

.nav-links li {
  list-style: none;
  transition: all 0.5s;
}

.nav-links a:hover {
  color: #0070cc;
}

.nav-links-active {
  transform: translateY(-7px);
  font-size: 0.9rem;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.nav-links img {
  width: 10px;
  transition: all 0.1s;
}

.arrow-active {
  transform: rotate(180deg);
}

.dropdown {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 13.5rem;
  background-color: white;
  left: 0;
  top: 5.25rem;
  transform: translateY(-13.5rem);
  opacity: 0;
  transition: all 0.2s ease-in;
  box-shadow: 0px 0px 20px black;
}

.dropdown-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.6s ease-out;
}

.dropdown hr {
  margin-top: 0rem;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.drop-container {
  display: flex;
  justify-content: center;
  gap: 0.5vw;
  margin-top: 10px;
}

.drop-container div {
  width: 11vw;
  height: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 3px;
}

.drop-container div:hover {
  box-shadow: 0px 0px 5px grey;
}

.drop-container img {
  width: 3vw;
}

.drop-container p {
  margin-bottom: 0;
  text-align: center;
}

.drop-games {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  height: 3rem;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.drop-games li:hover {
  cursor: pointer;
  color: #0070cc;
}

.drop-games li::before {
  background-image: url('../images/list_icon.png');
  background-size: 8px 8px;
  display: inline-block;
  width: 8px;
  height: 8px;
  content: " ";
}

.sign-in-btn {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: #266fff;
  border-radius: 15px;
  border-width: 0;
  color: white;
  height: 24px;
  width: 75px;
  position: absolute;
  margin-top: auto;
  left: 84vw;
}

.sign-in-btn:hover {
  background-color: #1b54c4;
}

.search {
  position: absolute;
  left: 90vw;
  transition: all 0.5s
}

.search-active {
  transform: translateY(-10px) scale(0.9);
  transition: all 0.5s
}

.search button {
  position: relative;
  right: 0vw;
  height: 40px;
  width: 140px;
  border: 1px solid #c8c8cc;
  font-size: 15px;
  background-color: white;
  text-align: left;
  /* color: grey; */
}

.search button:hover {
  border: 1px solid black;
}

.search i {
  position: relative;
  left: 50px;
}

.search-box {
  display: none;
  width: 39vw;
  height: 4.3rem;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: 0 5px 5px black;
  flex-direction: row;
}

.search-site {
  width: 30%;
  height: 100%;
  background-color: #f0ebeb;
  position: relative;
  border-right: 1px solid #ccc;
}

.search-site h2 {
  width: 80%;
  font-size: 1.3rem;
  font-weight: 300;
  position: absolute;
  top: 8px;
  left: 10px;
}

.search-site h2:hover {
  color: #0172CE;
}

.search-site img {
  width: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
}

.search-site:hover .search-site-content {
  display: block;
}

.search-site-content {
  display: none;
  width: 100%;
  background-color: white;
  transform: translateY(4.3rem)
}

.search-site-content a {
  width: 100%;
  height: 4.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.1rem;
}

.search-site-content a:first-child {
  background-color: #0172CE;
  box-shadow: 0 0 4px 1px white inset;
  color: white;
}

.search-site-content a:last-child:hover {
  color: #0172CE;
}

.search-input {
  width: 60%;
  height: 100%;
}

.search-input input, input::placeholder {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  text-align: center;
  font-size: 1.3rem;
  opacity: 0.7;
  font-weight: 300;
  background-color: #f0ebeb;
}

.search-input input:focus {
  outline: 0;
}

.search-button {
  width: 10%;
  height: 100%;
  background-color: #0172CE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button:focus {
  color: red;
}

.search-button img {
  width: 40%;
  filter: invert(1);
}

.slideshow-container {
  position: relative;
  margin: auto;
  background-color: #00163b;
}

/* SlideShow */
/* Hide slideshow images by default */
.mySlides {
  position: relative;
  display: none;
  height: 70vh;
}

.slide-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  width: 30vw;
  left: 5vw;
  top: 5rem;
  justify-content: center;
  align-items: center;
}

.mySlides .slide-popup img {
  height: 5vw;
  width: 10vw;
  overflow: visible;
  z-index: 1;
}

.mySlides .slide-popup h2 {
  font-size: 2rem;
  font-weight: 300;
}

.mySlides .slide-popup p {
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}

.mySlides .slide-popup button {
  height: 2.5rem;
  width: 9rem;
  margin-top: 1rem;
  color: black;
  background-color: white;
  font-size: 1rem;
}

.mySlides .slide-popup button:hover {
  outline-color: white;
}

.mySlides img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.float-in-img {
  animation-name: float-img;
  animation-duration: 1s;
}

.float-in-text {
  animation-name: float-text;
  animation-duration: 1.3s;
}

.fade {
  animation-name: fade;
  animation-duration: 4s;
}

/* Add smooth transition with fade to black */
@keyframes fade {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes float-img {
  from {
    transform: translateY(20px)
  }

  to {
    transform: translateY(0px)
  }
}

@keyframes float-text {
  from {
    transform: translateY(20px)
  }

  to {
    transform: translateY(0px)
  }
}

.slideshow-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 10rem;
  background-color: white;
}

.indicator-img {
  width: 12%;
  border-radius: 10px;
  opacity: 0.7;
  position: relative;
  bottom: 0;
  transition: bottom 0.2s, box-shadow 0.2s;
}

.indicator-img:hover {
  opacity: 1;
  bottom: 7px;
  box-shadow: 0 8px 10px grey;
}

/* is added using javascript when selected */
.is-selected {
  outline: 0.2rem outset #286aed;
  outline-offset: 0.2rem;
  opacity: 1;
}

/* Carousel of products Styles */
.carousel-container {
  display: none;
  /* opacity: 1; */
  grid-template-columns: 40vw 40vw;
  grid-template-rows: auto;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 80vh;
  overflow: hidden;
  /* transition: opacity 2s; */
}

.title-box {
  width: 30vw;
}

.img-box {
  max-width: 630px;
}

.title-box h3 {
  font-size: 2rem;
  font-weight: lighter;
}

.title-box p {
  font-size: 1.3rem;
  font-weight: lighter;
}

.carousel-img {
  width: 100%;
  opacity: 1;
  transition: all 3s;
}

.fade-carousel-img {
  animation-name: fade;
  animation-duration: 0.5s;
}

button[name="learn-more"] {
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  margin-right: 0.7rem;
}

button[name="buy-now"] {
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #d53b00;
  border-radius: 1.5rem;
}

#carousel-indicator {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#carousel-indicator div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vw;
  width: 10vw;
  transition: opacity 0.2s, outline-width 0.2s;
  border-radius: 10px;
}

#carousel-indicator div * {
  opacity: 0.7;
  transition: opacity 0.3s;
}

#carousel-indicator div:hover * {
  opacity: 1;
}

#carousel-indicator img {
  height: 35%;
  margin-bottom: 1rem;
}

#carousel-indicator p {
  font-size: 1.1rem;
  font-weight: lighter;
}

/* Playstation Plus */
.plus-section {
  width: 100%;
  height: 27.5rem;
  margin-top: 2rem;
  background-image: url("../images/playstation_plus_background1.jpg");
  \
 background-repeat: no-repeat;
  background-size: 1800px;
  display: grid;
  grid-template-columns: 30% 50%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.plus-info {
  height: 50%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  column-gap: 10px;
}

.plus-info img {
  display: block;
  max-width: 90%;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  float: left;
}

.plus-info h1 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-size: 2rem;
  font-weight: 500;
}

.plus-info p {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  font-weight: 400;
}

.plus-info button {
  width: 45%;
  height: 2.5rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.plus-images {
  width: 450px;
  height: 250px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 7px;
}

#meet-your-maker-img {
  grid-row: 1 / 3;
  display: block;
  max-width: 100%;
  height: auto;
}

#sackboy-img {
  display: block;
  max-width: 100%;
  height: auto;
}

#tails-of-iron-img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Game-Grid Carousel styles */
#game-grid {
  background-color: #121314;
  overflow: hidden;
  position: relative;
}

.game-grid_container {
  width: 80vw;
  height: 40vw;
  margin: auto;
  padding-top: 3rem;
  /* outline: 5px solid black; */
  overflow: hidden;
  clip-path: inset(-10vw -10vw -10vw 0);
}

.game-grid_slide {
  display: flex;
  position: absolute;
}

.game-grid_box {
  width: 77vw;
  height: 45vw;
}

.game-grid_title {
  grid-column: 1 / 7;
  justify-self: start;
}

.game-grid_box h2 {
  line-height: 1rem;
  margin: 0;
  font-size: 1.3rem;
  color: white;
  font-weight: light;
}

.game-grid_title h3 {
  font-weight: 300;
  margin: 0;
  color: white;
  font-size: 1.3rem;
}

.game-grid_box-grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(6, 10vw);
  grid-auto-rows: 5vw 15vw 15vw;
  grid-column-gap: 2vw;
}

.game-grid_item {
  width: 11vw;
  height: 13vw;
  margin: auto;
}

.game-grid_item img {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5%;
  transition: all 0.2s;
  box-shadow: 0 3px 10px black;
}

.game-grid_item img:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 10px black;
}

.game-grid_item h3 {
  margin: 0;
  color: white;
  font-weight: lighter;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.game-grid_container a {
  display: block;
  width: 100%;
  line-height: 100%;
}

/* Game-Grid Carousel Buttons */
.game-grid_container button {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
  border: 0;
  font-size: 2rem;
  outline: 0;
  transition: outline 0.1s;
}

.game-grid_container button:hover {
  outline: 2px solid white;
  outline-offset: 3px;
}

#prevBtn {
  right: 20rem;
}

#nextBtn {
  right: 16rem;
}

#social-media .container {
  width: 100%;
  height: 24vw;
  background-color: #f5f7fa;
  display: grid;
  grid-template-columns: 50vw;
  grid-template-rows: 5vw 5vw;
  align-content: center;
  justify-content: center;
  grid-row-gap: 4rem;
}

#social-media .container .title {
  grid-column: 1 / 2;
  text-align: center;
}

#social-media .container .title h1 {
  font-size: 2rem;
  font-weight: 80;
  margin: 0;
}

#social-media .container .items {
  display: flex;
  grid-column: 1 / 2;
  justify-content: center;
  gap: 3rem;
}

#social-media .container img {
  height: 6vw;
  opacity: 0.8;
  transition: transform 0.3s;
}

#social-media .container img:hover {
  transform: scale(1.03);
}

#footer .container {
  max-width: 100%;
  height: 35vw;
  background-color: #00439C;
  padding: 1vw 5vw 0 5vw;
}

#footer .container * {
  color: white;
}

#footer .container hr {
  border: 0;
  border-bottom: 1px solid white;
  opacity: 0.3;
}

#footer .title .logo {
  max-width: 4vw;
  margin-right: 1vw;
}

#footer .title .text {
  filter: brightness(0) invert(1);
  max-width: 13vw;
}

#footer .link-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: 17vw;
}

#footer .link-container .categories li:first-child {
  font-weight: bolder;
}

#footer .link-container li {
  font-weight: 300;
  list-style: none;
  font-size: 0.9rem;
  line-height: 1.7rem;
  cursor: pointer;
}

#footer .link-container li:hover:not(:first-child) {
  color: #ababab
}

#footer .link-container img {
  width: 1.5vw;
  filter: invert(1);
  padding-right: 1vw;
}

#footer .link-container img:hover {
  opacity: 0.7;
}

#footer .interactive .sony-interactive {
  width: 20vw;
  height: 7vw;
  vertical-align: bottom;
  display: flex;
  align-items: center;
}

#footer .interactive h3 {
  display: inline;
  word-spacing: 100vw;
  margin: 0;
  font-weight: normal;
  margin-left: 1vw;
}

#footer .interactive img {
  float: left;
  width: 6vw;
}

#footer .interactive p {
  font-weight: 350;
  font-size: 0.9rem;
}

#footer .interactive a {
  text-decoration: underline;
}

#footer .interactive a:hover {
  color: #ababab;
}

#footer .policy {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

#footer .policy .country {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#footer .policy .country:hover {
  color: #ababab;
  cursor: pointer;
}

#footer .policy img {
  width: 1.5vw;
  filter: invert(1);
}

#footer .policy p:hover {
  color: #ababab;
  cursor: pointer;
}

#footer .policy .utility {
  display: flex;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 70%;
  }

  .search {
    left: 85vw;
  }

  .sign-in-btn {
    left: 77vw;
  }

  .search-box {
    width: 61vw;
  }

  .carousel-container {
    height: 69vh;
  }

  #carousel-indicator p {
    font-size: 1rem;
  }

  .plus-info h1 {
    font-size: 1.5rem;
  }

  .plus-info button {
    width: 70%;
  }

  .game-grid_box-grid {
    grid-row-gap: 1vw;
  }

  .game-grid_item h3 {
    font-size: 0.9rem;
  }

  .game-grid_container {
    height: 45vw;
  }

  #footer .container {
    height: 55vw;
  }

  #footer .link-container {
    grid-template-rows: 30vw;
  }

  .dropdown {
    height: 11rem;
  }
}
@media screen and (max-width: 1380px) {
  .search {
    left: 83vw;
  }

  .sign-in-btn {
    left: 75vw;
  }
}
